
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

body {
  color: #3b3b3b;
  background: #292929;
  font-family: 'Raleway', sans-serif !important;
}

#page, #main-wrapper, .region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#header {
  background-color: #fff;
}

a, .link {
  color: #0071b3;
}

a:hover, a:focus, .link:hover, .link:focus {
  color: #018fe2;
}

a:active, .link:active {
  color: #23aeff;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.site-footer {
  background: #292929;
}

.region-header, .region-header a, .region-header li a.is-active, .site-branding__text, .site-branding, .site-branding__text a, .site-branding a, .region-secondary-menu .menu-item a, .region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

#header .top_nav {
  width: 100%;
  padding: 0.1rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #b2b4b9;
}

#header ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header .top_nav {
  width: 100%;
  float: left;
  padding: 0.6rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #b2b4b9;
  text-transform: capitalize;
  display: none;
}

#header ul li {
  display: inline;
  text-transform: uppercase;
}

#header .top_nav .container ul li:first-child {
  margin-right: 55px;
}

#header ul li a {
  color: #333;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 150;
}

#banner {
  width: 100%;
  margin: 112px 0 0 0;
  position: relative;
}

#header ul{
  display: block;
}

#header ul .menu-item a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #161616;
  padding: 44px 15px 42px 15px;
}

#header ul .menu-item a:hover {
  color: #ff6600;
}

.region.region-primary-menu {
  float: none;
}

#page {
  background-color: #f0f0f0;
}

.block-views-blockservicescarousel-block-1 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0 60px;
}

.block-views-blockservicescarousel-block-1 h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ff6600;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 60px 0;
}

.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

.views-slideshow-controls-bottom .item-list ul {
  text-align: right;
}

.views-slideshow-controls-bottom .item-list ul li {
  text-align: center;
  background-color: #fff;
}

.views-slideshow-controls-bottom .item-list ul li:hover {
  background-color: #fff;
}

.views-slideshow-controls-bottom .item-list ul li.active {
  background-color: #ff6600;
  transform: scale(1.3)
}

#banner .views-element-container .content {
  width: 100%;
}

#banner .views-element-container .views_slideshow_cycle_teaser_section {
  height: 675px !important;
}

#banner .views-element-container .views_slideshow_cycle_teaser_section img {
  height: 675px;
  object-fit: cover;
}

#banner .views-element-container .skin-default {
  position: relative;
}

.view-servicescarousel ul li {
  text-align: center;
}

.view-servicescarousel ul li h2 {
  font-size: 22px;
  font-weight: 200;
  color: #000;
  text-align: center;
  margin: 0 0 20px 0;
  text-transform: none;
}

.view-servicescarousel ul li p {
  font-size: 15px;
  line-height: 25px;
  padding: 0 10px;
}

.view-servicescarousel ul li a {
  background-color: #ff6600;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  padding: 13px 30px 10px 30px;
  display: inline-block;
  border-bottom: none;
}

.view-servicescarousel ul li img {
  width: 90px !important;
  margin: 0 auto 50px;
}

.view-servicescarousel .flex-control-nav {
  display: none;
}

.path-frontpage{
  visibility: hidden;
}

.path-frontpage .layout-main-wrapper {
  display: none;
}

ul.flex-direction-nav li a {
  width: 80px;
  height: 80px;
  opacity: 1;
  background-color: #fff;
}

.flexslider {
  background-color: #f0f0f0;
  border: none;
}

.flexslider:hover ul.flex-direction-nav li a.flex-prev {
  left: -50px;
  opacity: 1;
}

.flexslider:hover ul.flex-direction-nav li a.flex-next {
  right: -50px;
  opacity: 1;
}

.flexslider ul.flex-direction-nav a {
  display: block;
  opacity: 0.7;
  top: 15%;
}

.flexslider ul.flex-direction-nav li:hover a {
  opacity: 1;
}

.flexslider ul.flex-direction-nav a:before {
  color: rgba(208, 208, 208, 0.8);
}

.site-footer {
  padding: 45px 0;
}

.site-footer .layout-container {
  display: none;
}

.menu-toggle{width: 30px; float: right !important; padding: 0 !important; margin: 24px 10px 0 0; line-height: 6px; position: relative;}
.menu-toggle--hide span:nth-of-type(1){transform: rotate(140deg); position: absolute; top: 13px;}
.menu-toggle--hide span:nth-of-type(2){position: absolute; transform: rotate(40deg); top: 14px;}
.menu-toggle--hide span:nth-of-type(3){display: none;}
.menu-toggle .icon{width: 30px; height: 4px; background-color: #ff6600; display: inline-block; border-radius: 4px;}

#banner .barslide{
background: url('./../images/bars-gradient.png') no-repeat left center;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: 10;
}

@media (min-width: 1071px) and (max-width: 1240px){
  #header ul .menu-item a{padding: 44px 12px 42px 12px;}
  ul.flex-direction-nav li a {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center !important;
    line-height: 44px;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-prev {
    left: 5px;
    opacity: 1;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-next {
    right: 5px;
    opacity: 1;
  }
  .flexslider ul.flex-direction-nav li a.flex-prev {
    left: 5px;
  }
  .flexslider ul.flex-direction-nav li a.flex-next {
    right: 5px;
  }
  .flexslider ul.flex-direction-nav a:before {
    font-size: 20px;
  }
}

@media (min-width: 968px) and (max-width: 1070px) {
  #banner{margin: 80px 0 0 0;}
  #header img{max-width: 140px;}
  .region-header{padding: 6px 10px;}
  #header ul .menu-item a {
    font-size: 13px; padding: 29px 10px 29px 10px;
  }
  ul.flex-direction-nav li a {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center !important;
    line-height: 44px;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-prev {
    left: 5px;
    opacity: 1;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-next {
    right: 5px;
    opacity: 1;
  }
  .flexslider ul.flex-direction-nav li a.flex-prev {
    left: 5px;
  }
  .flexslider ul.flex-direction-nav li a.flex-next {
    right: 5px;
  }
  .flexslider ul.flex-direction-nav a:before {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 968px) {
  #header ul.menu{display: none; padding: 10px 0 20px 0; width: 100%;}
  #header ul .menu-item{width: 100%; text-align: left;}
  #header ul .menu-item a{padding: 8px 15px 8px 15px;}
  .region-header{padding: 6px 10px;}
  #banner{margin: 80px 0 0 0;}
  #header img{max-width: 140px;}
  ul.flex-direction-nav li a {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center !important;
    line-height: 44px;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-prev {
    left: 5px;
    opacity: 1;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-next {
    right: 5px;
    opacity: 1;
  }
  .flexslider ul.flex-direction-nav li a.flex-prev {
    left: 5px;
  }
  .flexslider ul.flex-direction-nav li a.flex-next {
    right: 5px;
  }
  .flexslider ul.flex-direction-nav a:before {
    font-size: 20px;
  }
  .banner_caption{padding-top: 40% !important;}
}

@media (max-width: 767px) {
  #header ul.menu{display: none; width: 100%; padding: 10px 0 20px 0;}
  #header ul .menu-item a{padding: 8px 15px 8px 15px;}
  .region-header{padding: 6px 10px;}
  #banner{margin: 80px 0 0 0;}
  #header img{max-width: 140px;}
  ul.flex-direction-nav li a {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center !important;
    line-height: 44px;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-prev {
    left: 5px;
    opacity: 1;
  }
  .flexslider:hover ul.flex-direction-nav li a.flex-next {
    right: 5px;
    opacity: 1;
  }
  .flexslider ul.flex-direction-nav li a.flex-prev {
    left: 5px;
  }
  .flexslider ul.flex-direction-nav li a.flex-next {
    right: 5px;
  }
  .flexslider ul.flex-direction-nav a:before {
    font-size: 20px;
  }
  #banner .barslide{display: none;}
}

.banner_caption{width: 800px; height: 800px; border-radius: 50%; background: linear-gradient(to right, rgba(239, 56, 47, 0.75) 0%, rgba(255, 102, 0, 0.75) 30%, rgba(255, 178, 127, 0.75) 100%); position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%; text-align: center; padding-top: 20%;}
.banner_caption .views-field-field-title{text-align: center; font-size: 50px; font-weight: 200; line-height: 55px; color: #fff; max-width: 500px; margin: 0 auto; text-transform: uppercase;}
.banner_caption .views-field-field-description{text-align: center; font-size: 19px; margin: 30px auto !important; color: #fff; line-height: 26px; max-width: 500px !important;}
.views-row{overflow: hidden; position: relative;}

.banner_caption .views-field-field-title::before{width: 100px; height: 100px; background-color: #000;}

@media(max-width: 640px){
  #banner .views-element-container .views_slideshow_cycle_teaser_section{height: 400px !important;}
  #banner .views-element-container .views_slideshow_cycle_teaser_section img{height: 400px;}
  .banner_caption{width: 400px; height: 400px;}
  .banner_caption .views-field-field-title{max-width: 350px; font-size: 34px; line-height: 36px;}
  .banner_caption .views-field-field-description{max-width: 350px !important; margin: 10px auto 25px;}
  .views-slideshow-controls-bottom .item-list ul{text-align: center;}
  .views-slideshow-controls-bottom{bottom: 10px;}
}

@media(max-width: 400px){
  .banner_caption{border-radius: 0;}
  .banner_caption .views-field-field-title, .banner_caption .views-field-field-description{padding: 0 15px; max-width: 280px !important;}  
}