body {
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  overflow-x: hidden; }

/* Common CSS Start */
ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

/* Common CSS End */
/* Header CSS Start*/
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 150; }
  @media (min-width: 1025px) {
    #header .navbar-collapse {
      display: flex !important; } }
  @media (min-width: 640px) and (max-width: 991px) {
    #header .navbar .navbar-collapse.collapse:not(.show) {
      display: none !important; }
    #header .navbar-expand-lg .navbar-collapse {
      display: block !important; }
    #header .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: static; } }
  #header .navbar {
    padding: 0 1rem; }
    @media (max-width: 1024px) {
      #header .navbar {
        padding: 20px 1.2rem; } }
    @media (max-width: 640px) {
      #header .navbar {
        padding: 20px 1.2rem; } }
    @media (max-width: 1024px) {
      #header .navbar .container {
        flex-wrap: unset;
        display: block;
        overflow: hidden; } }
    @media (max-width: 640px) {
      #header .navbar .container {
        overflow: inherit; } }
    #header .navbar button#nav-toggle {
      background: transparent;
      border: 0;
      position: relative;
      width: 30px;
      height: 30px;
      display: none; }
      #header .navbar button#nav-toggle:focus {
        outline: none; }
      @media (max-width: 1024px) {
        #header .navbar button#nav-toggle {
          display: inline-block;
          float: right;
          margin: 20px 0 0 0; } }
      @media (max-width: 640px) {
        #header .navbar button#nav-toggle {
          display: block; } }
    #header .navbar .navbar-brand {
      padding: 0; }
      #header .navbar .navbar-brand img {
        width: 160px; }
    #header .navbar .navbar-toggler {
      border: none;
      font-size: 16px;
      padding: 0; }
      #header .navbar .navbar-toggler:hover {
        color: #ff6600; }
      #header .navbar .navbar-toggler:focus {
        outline: none; }
      #header .navbar .navbar-toggler .icon {
        width: 25px;
        background: #ff6600;
        transition: .5s ease;
        display: block;
        height: 3px;
        border-radius: 1px; }
    #header .navbar .navbar-toggle .icon {
      width: 25px;
      background: #ff6600;
      transition: .5s ease;
      display: block;
      height: 3px;
      border-radius: 1px; }
    #header .navbar .navbar-toggle.collapsed .icon:nth-child(1) {
      position: absolute;
      top: 5px;
      transform: rotate(0deg) translateY(0px) translateX(3px); }
    #header .navbar .navbar-toggle.collapsed .icon:nth-child(2) {
      position: absolute;
      top: 12px;
      left: 0;
      transform: rotate(0deg) translateY(1px) translateX(3px);
      opacity: 1; }
    #header .navbar .navbar-toggle.collapsed .icon:nth-child(3) {
      position: absolute;
      top: 15px;
      left: 0;
      transform: rotate(0deg) translateY(6px) translateX(3px); }
    #header .navbar .navbar-toggle .icon:nth-child(1) {
      transform: rotate(-45deg) translateY(-3px) translateX(-6px);
      left: 0; }
    #header .navbar .navbar-toggle .icon:nth-child(2) {
      opacity: 0;
      transition: all 0.2s ease; }
    #header .navbar .navbar-toggle .icon:nth-child(3) {
      transform: rotate(45deg) translateY(2px) translateX(-7px); }
    #header .navbar .navbar-collapse {
      justify-content: flex-end; }
      @media (max-width: 1024px) {
        #header .navbar .navbar-collapse {
          margin: 20px -19px -20px;
          background-color: #fff;
          height: calc(100vh);
          overflow-y: scroll;
          justify-content: flex-start; } }
      @media (max-width: 640px) {
        #header .navbar .navbar-collapse {
          margin: 20px -19px -20px;
          background-color: #fff;
          height: calc(100vh);
          overflow-y: scroll; } }
      #header .navbar .navbar-collapse .mr-auto {
        margin-right: 0 !important; }
        @media (max-width: 1024px) {
          #header .navbar .navbar-collapse .mr-auto {
            padding: 34px 18px;
            background: #fff;
            flex-direction: column; } }
        @media (min-width: 570px) and (max-width: 640px) {
          #header .navbar .navbar-collapse .mr-auto {
            background: #fff !important; } }
        @media (max-width: 640px) {
          #header .navbar .navbar-collapse .mr-auto {
            padding: 34px 18px;
            background: #f0f0f0; } }
        @media (min-width: 1025px) {
          #header .navbar .navbar-collapse .mr-auto .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; }
          #header .navbar .navbar-collapse .mr-auto .dropdown:hover .multi_drop {
            display: flex !important; } }
        #header .navbar .navbar-collapse .mr-auto .nav-item:last-child .nav-link {
          padding-right: 0; }
        #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link {
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          color: #161616;
          padding: 48px 15px 42px 15px; }
          @media (max-width: 1200px) {
            #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link {
              font-size: 13px; } }
          @media (max-width: 1024px) {
            #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link {
              color: #6d6e72;
              font-size: 18px;
              font-weight: 300;
              padding-left: 0;
              padding: 7px 0; } }
          @media (max-width: 640px) {
            #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link {
              color: #6d6e72;
              font-size: 18px;
              font-weight: 300;
              padding-left: 0;
              padding: 7px 0; } }
          #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link:hover {
            color: #ff6600; }
            #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link:hover span {
              border-bottom: 2px solid #ff6600; }
              @media (max-width: 1024px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link:hover span {
                  border-bottom: none;
                  background: transparent; } }
              @media (max-width: 640px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .nav-link:hover span {
                  border-bottom: none;
                  background: transparent; } }
        #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu {
          top: 112px;
          border-top: none;
          border-radius: 0 0 5px 5px;
          padding: 0; }
          @media (max-width: 1024px) {
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu {
              border: none;
              margin: 0;
              background-color: transparent;
              position: relative;
              top: 0; } }
          @media (max-width: 640px) {
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu {
              border: none;
              margin: 0;
              background-color: transparent; } }
          #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item {
            font-size: 15px;
            color: #000;
            font-weight: 600;
            padding: 7px 15px; }
            @media (max-width: 1024px) {
              #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item {
                padding-left: 12px;
                font-size: 18px;
                font-weight: 300;
                text-transform: uppercase;
                color: #6d6e72; } }
            @media (max-width: 640px) {
              #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item {
                padding-left: 12px;
                font-size: 18px;
                font-weight: 300;
                text-transform: uppercase;
                color: #6d6e72; } }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:focus {
              background-color: #fff; }
              @media (max-width: 1024px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:focus {
                  background-color: transparent; } }
              @media (max-width: 640px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:focus {
                  background-color: transparent; } }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:active {
              background-color: #fff; }
              @media (max-width: 1024px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:active {
                  background-color: transparent; } }
              @media (max-width: 640px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:active {
                  background-color: transparent; } }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:hover {
              background-color: #fff;
              color: #ff6600; }
              @media (max-width: 1024px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:hover {
                  background-color: transparent; } }
              @media (max-width: 640px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:hover {
                  background-color: transparent; } }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu .dropdown-item:last-child {
              margin-bottom: 5px; }
          #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu.multi_drop {
            width: 350px;
            flex-wrap: wrap; }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu.multi_drop .dropdown-item {
              width: 50%; }
              @media (max-width: 1024px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu.multi_drop .dropdown-item {
                  width: 100%; } }
              @media (max-width: 640px) {
                #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu.multi_drop .dropdown-item {
                  width: 100%; } }
            #header .navbar .navbar-collapse .mr-auto .nav-item .dropdown-menu.multi_drop.show {
              display: flex; }
        #header .navbar .navbar-collapse .mr-auto .dropdown-toggle::after {
          display: none; }
    #header .navbar .top_nav_mobile {
      display: none;
      width: 100%; }
      @media (max-width: 1024px) {
        #header .navbar .top_nav_mobile {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          padding-bottom: 80%; } }
      @media (max-width: 640px) {
        #header .navbar .top_nav_mobile {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          margin-bottom: 0; } }
      #header .navbar .top_nav_mobile li {
        float: left;
        list-style-type: none;
        border-right: 1px solid #ff6600;
        padding-right: 15px;
        line-height: 16px; }
        #header .navbar .top_nav_mobile li a {
          color: #ff6600;
          font-weight: 200;
          text-transform: uppercase;
          font-size: 16px;
          font-family: "Lato", sans-serif; }
        #header .navbar .top_nav_mobile li:last-child {
          border-right: none;
          padding-left: 15px; }
  #header .top_nav {
    width: 100%;
    padding: 0.1rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #b2b4b9; }
    @media (max-width: 640px) {
      #header .top_nav {
        display: none; } }
    #header .top_nav .container {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 1024px) {
        #header .top_nav .container {
          padding-right: 0; } }
      @media (max-width: 640px) {
        #header .top_nav .container {
          padding-right: 0; } }
      #header .top_nav .container .top_nav_list {
        display: flex;
        justify-content: flex-end; }
        #header .top_nav .container .top_nav_list li {
          list-style-type: none;
          padding: 7px 0; }
          #header .top_nav .container .top_nav_list li:first-child {
            margin-right: 55px; }
          #header .top_nav .container .top_nav_list li a {
            font-size: 15px;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font-weight: 500;
            font-family: "Lato", sans-serif; }
            @media (max-width: 1200px) {
              #header .top_nav .container .top_nav_list li a {
                font-size: 13px; } }
            #header .top_nav .container .top_nav_list li a:hover {
              color: #ff6600; }

/* Header CSS End */
/* Banner CSS Start */
#banner {
  width: 100%;
  height: 675px;
  margin: 142px 0 0 0; }
  @media (max-width: 1024px) {
    #banner {
      margin: 106px 0 0 0; } }
  @media (max-width: 640px) {
    #banner {
      margin: 106px 0 0 0;
      height: 400px; } }
  #banner .carousel {
    height: 100%; }
    @media (max-width: 640px) {
      #banner .carousel {
        height: 400px; } }
    #banner .carousel .carousel-inner {
      height: 100%; }
      @media (max-width: 640px) {
        #banner .carousel .carousel-inner {
          height: 400px; } }
      #banner .carousel .carousel-inner .carousel-item {
        height: 675px; }
        #banner .carousel .carousel-inner .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        #banner .carousel .carousel-inner .carousel-item .carousel-caption {
          bottom: 0;
          background: linear-gradient(to right, rgba(239, 56, 47, 0.75) 0%, rgba(255, 102, 0, 0.75) 30%, rgba(255, 178, 127, 0.75) 100%);
          background: -webkit-linear-gradient(to right, rgba(239, 56, 47, 0.75) 0%, rgba(255, 102, 0, 0.75) 30%, rgba(255, 178, 127, 0.75) 100%);
          background: -moz-linear-gradient(to right, rgba(239, 56, 47, 0.75) 0%, rgba(255, 102, 0, 0.75) 30%, rgba(255, 178, 127, 0.75) 100%);
          background: -ms-linear-gradient(to right, rgba(239, 56, 47, 0.75) 0%, rgba(255, 102, 0, 0.75) 30%, rgba(255, 178, 127, 0.75) 100%);
          width: 800px;
          height: 800px;
          border-radius: 50%;
          top: -10%;
          margin: 0 auto;
          z-index: 5;
          left: 50%;
          transform: translateX(-50%); }
          @media (max-width: 640px) {
            #banner .carousel .carousel-inner .carousel-item .carousel-caption {
              width: 400px;
              height: 400px;
              top: 0;
              right: 0; } }
          @media (max-width: 400px) {
            #banner .carousel .carousel-inner .carousel-item .carousel-caption {
              border-radius: 0; } }
        #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 500px;
          padding: 0;
          text-align: center;
          z-index: 20; }
          @media (max-width: 640px) {
            #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner {
              top: 165px;
              padding: 110px 20px 0;
              width: 100%;
              max-width: 350px; } }
          #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner h5 {
            font-size: 50px;
            font-weight: 200;
            line-height: 55px;
            color: #fff; }
            @media (max-width: 640px) {
              #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner h5 {
                font-size: 34px;
                line-height: 36px; } }
          #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner p {
            font-size: 19px;
            margin: 30px 0;
            font-weight: 400;
            color: #fff;
            line-height: 26px; }
            @media (max-width: 640px) {
              #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner p {
                margin: 20px 0 25px; } }
          #banner .carousel .carousel-inner .carousel-item .carousel-caption-inner a {
            text-decoration: none;
            background-color: #fff;
            color: #ff6600;
            font-size: 15px;
            padding: 12px 30px 11px 30px;
            border-radius: 50px;
            text-transform: uppercase;
            font-weight: 600;
            display: inline-block; }
    #banner .carousel .carousel-indicators {
      justify-content: flex-end;
      max-width: 1140px;
      margin: 0 auto 30px; }
      @media (max-width: 640px) {
        #banner .carousel .carousel-indicators {
          justify-content: center;
          margin-right: 1rem;
          margin-bottom: 10px; } }
      #banner .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 1;
        margin-left: 5px;
        margin-right: 5px; }
        #banner .carousel .carousel-indicators li.active {
          background-color: #ff6600;
          transform: scale(1.3); }
  #banner .banner_bars {
    background: url("./../../images/bars-gradient.png") no-repeat left center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10; }
    @media (max-width: 640px) {
      #banner .banner_bars {
        display: none; } }

/* Banner CSS End */
/* Service CSS Start */
#services {
  width: 100%;
  background-color: #f0f0f0;
  padding: 80px 0; }
  #services .services_head {
    font-size: 30px;
    line-height: 32px;
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto 60px; }
    #services .services_head span {
      display: block;
      font-weight: 200;
      color: #000; }
      @media (max-width: 640px) {
        #services .services_head span {
          display: inline-block; } }
  #services .services_item {
    padding: 0; }
    @media (max-width: 640px) {
      #services .services_item {
        padding: 0 10px; } }
    #services .services_item h6 {
      font-size: 22px;
      line-height: 28px;
      color: #000;
      font-weight: 200;
      margin: 0 0 20px 0; }
    #services .services_item p {
      font-size: 15px;
      line-height: 25px;
      margin: 0 0 18px 0;
      font-family: "Lato", sans-serif;
      color: #6d6e71;
      padding: 0 2px; }
    #services .services_item a {
      background-color: #ff6600;
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      padding: 13px 30px 10px 30px;
      border-radius: 50px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600; }
    #services .services_item .services_item_iconwrap {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: 0 0 40px 0; }
      #services .services_item .services_item_iconwrap img {
        width: 85px;
        margin: 0 auto;
        padding: 0; }
  #services .owl-nav {
    position: absolute;
    top: 10%;
    left: -40px;
    right: -40px; }
    @media (max-width: 1200px) {
      #services .owl-nav {
        left: -15px;
        right: -15px; } }
    @media (max-width: 640px) {
      #services .owl-nav {
        left: 10px;
        right: 10px; } }
    #services .owl-nav button {
      width: 90px;
      height: 90px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%; }
      @media (max-width: 1200px) {
        #services .owl-nav button {
          width: 90px;
          height: 90px; } }
      @media (max-width: 768px) {
        #services .owl-nav button {
          width: 45px;
          height: 45px; } }
      @media (max-width: 640px) {
        #services .owl-nav button {
          width: 45px;
          height: 45px; } }
      #services .owl-nav button img {
        width: 27px; }
        @media (max-width: 1200px) {
          #services .owl-nav button img {
            width: 27px; } }
        @media (max-width: 640px) {
          #services .owl-nav button img {
            width: 14px; } }
        @media (max-width: 768px) {
          #services .owl-nav button img {
            width: 14px; } }
      #services .owl-nav button:hover {
        background-color: white; }
      #services .owl-nav button span {
        line-height: 52px; }
        @media (max-width: 768px) {
          #services .owl-nav button span {
            line-height: 46px; } }
        @media (max-width: 640px) {
          #services .owl-nav button span {
            line-height: 46px; } }
      #services .owl-nav button.owl-next {
        float: right; }
        @media (max-width: 768px) {
          #services .owl-nav button.owl-next span {
            margin-right: -6px; } }
        @media (max-width: 640px) {
          #services .owl-nav button.owl-next span {
            margin-right: -6px; } }
      #services .owl-nav button.owl-prev {
        float: left; }
        @media (max-width: 768px) {
          #services .owl-nav button.owl-prev span {
            margin-left: -6px; } }
        @media (max-width: 640px) {
          #services .owl-nav button.owl-prev span {
            margin-left: -6px; } }
      #services .owl-nav button:focus {
        outline: none; }
    #services .owl-nav .disabled {
      display: none; }

/* Service CSS End */
/* Footer CSS Start */
#footer {
  width: 100%;
  background-color: #252525;
  padding: 70px 0; }
  @media (max-width: 768px) {
    #footer {
      padding-bottom: 30px;
      display: inline-block; } }
  @media (max-width: 640px) {
    #footer {
      padding-bottom: 30px; } }
  #footer .footer_logo {
    text-align: right; }
    @media (min-width: 768px) and (max-width: 991px) {
      #footer .footer_logo {
        text-align: left;
        width: 100%;
        margin-bottom: 25px; } }
    @media (max-width: 768px) {
      #footer .footer_logo {
        text-align: left !important; } }
    @media (max-width: 640px) {
      #footer .footer_logo {
        text-align: center !important; } }
    #footer .footer_logo img {
      width: 150px;
      margin-right: 20px; }
  @media (max-width: 768px) {
    #footer .row {
      display: block; } }
  @media (max-width: 640px) {
    #footer .row {
      display: block; } }
  #footer h5 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif; }
  #footer h6 {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    margin: 0 0 10px 0; }
  @media (max-width: 1024px) {
    #footer .col {
      padding: 0 5px; } }
  @media (max-width: 768px) {
    #footer .col {
      margin-bottom: 20px;
      width: 100%;
      text-align: center; } }
  @media (max-width: 640px) {
    #footer .col {
      margin-bottom: 20px;
      width: 100%;
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #footer .col {
      flex-basis: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #footer .col.footer_col {
      text-align: left;
      width: 33.33% !important;
      float: left; } }
  #footer .col .footer_list li {
    margin: 0 0 16px 0;
    list-style-type: none;
    word-break: break-all;
    position: relative;
    padding-left: 16px; }
    @media (max-width: 1024px) {
      #footer .col .footer_list li {
        line-height: 18px; } }
    #footer .col .footer_list li a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      font-family: "Lato", sans-serif; }
      #footer .col .footer_list li a:hover {
        color: #ff6600; }
    #footer .col .footer_list li:last-child {
      margin-bottom: 0; }
    #footer .col .footer_list li span {
      color: #ff6600;
      font-weight: bold;
      font-size: 13px;
      font-family: "Lato", sans-serif;
      position: absolute;
      left: 0;
      top: 2px; }
      @media (max-width: 1024px) {
        #footer .col .footer_list li span {
          top: 0; } }
      @media (max-width: 640px) {
        #footer .col .footer_list li span {
          top: 0;
          left: 15px; } }
  @media (max-width: 768px) {
    #footer .col .footer_list.social_icon {
      display: inline-block;
      justify-content: center; } }
  @media (max-width: 640px) {
    #footer .col .footer_list.social_icon {
      display: inline-block;
      justify-content: center; } }
  #footer .col .footer_list.social_icon li {
    float: left;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding-left: 0; }
    @media (max-width: 1024px) {
      #footer .col .footer_list.social_icon li {
        width: 100%;
        margin: 0 0 20px 0; } }
    #footer .col .footer_list.social_icon li:last-child {
      margin-right: 0; }
    #footer .col .footer_list.social_icon li a {
      margin-left: 0; }

/* Footer CSS End */
/* Copyright CSS Start */
#copyright {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 40px 0;
  color: #000; }
  #copyright ul {
    text-align: center;
    display: inline-block;
    width: 100%; }
    #copyright ul li {
      background-color: #fff;
      display: inline-block;
      list-style: none;
      padding-left: 15px;
      padding-right: 15px;
      border-right: 1px solid #000;
      line-height: 25px;
      font-size: 15px;
      font-family: "Lato", sans-serif; }
      @media (max-width: 640px) {
        #copyright ul li {
          margin-bottom: 10px; } }
      #copyright ul li span {
        color: #000;
        font-weight: 500;
        font-size: 15px; }
      #copyright ul li a {
        font-size: 15px;
        text-decoration: none;
        color: #ff6600;
        font-weight: 500; }
        #copyright ul li a:hover {
          color: #ff6600; }
      #copyright ul li:last-child {
        margin-right: 0;
        border-right: none; }

/* Copyright CSS End */
#banner {
    width: 100%;
    height: 675px;
    margin: 142px 0 0 0;
}
/*# sourceMappingURL=style.css.map */
/** CUSTOM CSS***/
#header ul.top_nav_list {
    float:right;
    list-style:none;
}
#header ul.top_nav_list  li{
    display:inline;
}
